[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/takumi/Desktop/yaymad]
row=5
col=0

[/home/takumi/Desktop/pacmad]
row=4
col=0

[/home/takumi/Desktop/Screenshot_2019-12-25_02-34-04.png]
row=3
col=0

[dc16f5b4-f756-4d30-8041-9a57782ebdea]
row=0
col=0

[/]
row=1
col=0

[/home/takumi]
row=2
col=0

